.venv
fileConvertionService/test_json.json
fileConvertionService/test_json2.json
fileConversionService/test_ics.json
fileConversionService/test_ics.ics
fileConversionService/testfn.py
fileConversionService/timetable_out.csv