.coursePopup {
	position: fixed;
	inset: 0;
	background-color: #00000088;
}

.courseInfo {
	position: fixed;
	inset: 8rem;
	padding: 1rem;
	border: solid 1px;
	border-radius: 24px;
	background-color: #ffffff;

	.id {

	}

	.title {

	}

	.close {
		position: absolute;
		top: 1rem;
		right: 1rem;
		padding: 0.5rem;
		border-radius: 10px;
		color: white;
		background-color: black;
	}
}
