.navbar {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	gap: 1rem;
	width: 100%;

	.navlink {
		padding: 1rem;
		cursor: pointer;
	}

	.navlink.active {
		font-weight: bold;
	}

	.navbutton {
		padding: 1rem;
	}

	.left {
		margin-right: auto;
	}

	.right {
		margin-left: auto;
	}
}