.timetable {
}

.cell {
	display: flex;
	align-items: center;
	justify-content: center;

	&.day {
		color: #444444;
	}

	&.course {
		background-color: black;
		color: white;
	}

	&.conflict {
		background-color: red;
	}

	&.hover {
		background-color: gray;
	}

	&.hover.conflict {
		background-color: orange;
	}

	&.hover.current {
		background-color: darkslategray;
	}
}

.stripes {
	background: repeating-linear-gradient(
		45deg,
		var(--color-bg3), var(--color-bg3) 4px,
		transparent 4px, transparent 12px
	);
}