.app {
	height: 100dvh;
	width: 100dvw;
	overflow: hidden;
}

.main {
	display: flex;
	flex-direction: row;
	gap: 3rem;
	overflow: hidden;
}

.infoColumn {
	width: 40%;
	display: flex;
	flex-direction: column;
	gap: 1rem;

	.title {
		width: 100%;
	}
}

.searchColumn {
	width: 60%;
}