@import "tailwindcss";
@import 'material-symbols';

:root {
  font-family: "Jetbrains Mono", Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
